[Unit]
Description=Sicheng God Bot Service

[Service]
ExecStart=/home/pi/py3/bin/python /home/pi/sicheng/MyFirstBot/bot.py -c /home/pi/sicheng/SichengsGodBot
Restart=on-failure
Type=notify

[Install]
WantedBy=default.target